@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

:root {
  --black: #0e050f;
  --purple: #341948;
  --Rose: #d36f1d;
  --Haze: #9c81bd;
  --nightsky: #170b3b;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Roboto Mono", monospace;
  --sans: "Nunito Sans", sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* 
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
} */

/*ok , the header*/

h1,
h2 {
  margin: 0;
}
#intro a {
  color: var(--Rose);
  font-family: monospace;
}
a:hover {
  color: var(--purple);
  text-decoration: none;
}
#intro {
  padding: 4rem 1rem 8rem 1rem;
  margin: 0;
  max-width: 800px;
}
#intro p {
  font-size: 1rem;
  line-height: 1.5;
}
#intro .name {
  font-family: var(--sans);
}
.name span {
  font-family: var(--mono);
  font-size: 4rem;
  color: var(--white);
  display: block;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.9),
    0px -5px 35px rgba(255, 255, 255, 0.9);
}
#intro h2 {
  font-size: 3rem;
  color: var(--Haze);
}

/*the contact*/

#contact {
  width: 400px;
  padding: 3rem 0;
  margin: 0 auto;
  color: var(--black);
  text-align: center;
}
.contact-tainer {
  width: 100%;
  background-color: var(--Haze);
}
#contact p:last-child {
  margin-top: 3rem;
}
#contact a {
  color: var(--white);
  background-color: var(--black);
  padding: 0.75rem;
  border-radius: 10%;
  margin-top: 3rem;
  text-decoration: none;
}

/*NavBar*/
/* 
ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.main-nav {
  margin-bottom: 8rem;
  padding-top: 3rem;
}
.main-nav a {
  font-family: var(--mono);
  color: var(--white);
  text-decoration: none;
  display: block;
  font-size: 80%;
}
.main-nav a:hover {
  color: var(--purple);
}
nav li:first-child {
  width: 100%;
  text-align: center;
} */

svg {
  width: 28px;
  height: 28px;
  background-color: var(--white);
  padding: 0;
}
.main-nav [class*="fa"] {
  font-size: 150%;
  color: var(--Haze);
}

.main-nav [class*="fa"]:hover {
  color: var(--purple);
}

.main-nav ul li:last-child {
  background-color: var(--Haze);
  border-radius: 10%;
  padding: 0.5rem;
  margin-right: 1rem;
}

/*big screens*/

@media (min-width: 850px) {
  .main-nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  .main-nav li:first-child {
    flex-basis: 25%;
    text-align: left;
    margin-right: auto;
  }
}
/*footer*/
.main-footer {
  text-align: center;
  gap: 4rem;
}
.main-footer ul {
  gap: 3rem;
  margin: 2rem 0;
  padding: 0;
}
.main-footer [class*="fa-"] {
  font-size: 200%;
  color: var(--Haze);
}
.main-footer h1 {
  font-size: 100%;
}

/*stunning line breakers*/

.line-break {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgb(255, 23, 23) 0%,
    rgba(134, 251, 251, 1) 100%
  );
  height: 2.5px;
}
div,
figure,
section,
article {
  margin: 0;
}
/*Project section*/

.project-container {
  background-color: var(--white);
}
#projects,
.about {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
#projects article,
.about {
  margin-bottom: 2rem;
}

#projects h2,
.about h2 {
  font-size: 2.5rem;
  /* font-family: var(--mono); */
  margin-bottom: calc(2.5rem * 1.5);
  font-weight: bolder;
}
h4 {
  font-size: 1rem;
  margin-bottom: 0;
  /* font-family: var(--mono); */
  font-weight: bolder;
}
#projects h3,
.about h3 {
  color: var(--Rose);
  margin-top: 0;
  font-size: 150%;
  /* font-family: var(--sans); */
}
.description {
  margin: 2rem 0.25rem;
  background-color: var(--Haze);
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: var(--sans);
  line-height: 1.5;
}
#projects ul {
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  font-size: 1rem;
  gap: 20px;
  font-weight: bolder;
}

#projects img,
.about img {
  width: 100%;
  height: auto;
  margin: 2rem auto 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  border-top: 1.5px solid var(--white);
  border-left: 1.5px solid var(--white);
}

/*big screens*/

@media (min-width: 700px) {
  #projects article,
  .about article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }
  .text {
    order: 2;
    text-align: right;
    grid-column: 5/11;
    grid-row: 1/2;
  }
  .image {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  #projects ul {
    justify-content: flex-end;
  }
  #projects .reverse .text {
    order: 1;
    text-align: left;
    grid-column: 1/6;
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }
  #projects .reverse .image {
    grid-column: 5/11;
  }
}

.about a,
i {
  color: var(--nightsky);
}
.about a:hover,
i:hover {
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.9),
    0px -5px 35px rgba(255, 255, 255, 0.9);
}
.about {
  margin-bottom: 0;
  padding-bottom: 0;
}
.cont2 {
  background-color: var(--black);
}
.descript {
  background-color: var(--Haze);
}
